NODE_ENV="development"

POSTGRES_URL= # Postgres URL
POSTGRES_PRISMA_URL= # Postgres Prisma URL
SUPABASE_URL= # Supabase URL
NEXT_PUBLIC_SUPABASE_URL= # Next Public Supabase URL
POSTGRES_URL_NON_POOLING= # Postgres URL Non Pooling
SUPABASE_JWT_SECRET= # Supabase JWT Secret
POSTGRES_USER= # Postgres User
NEXT_PUBLIC_SUPABASE_ANON_KEY= # Next Public Supabase Anon Key
POSTGRES_PASSWORD= # Postgres Password
POSTGRES_DATABASE= # Postgres Database
SUPABASE_SERVICE_ROLE_KEY= # Supabase
POSTGRES_HOST= # Postgres Host
NEXT_PUBLIC_SUPABASE_ANON_KEY= # Next Public Supabase Anon Key

AUTH0_CLIENT_ID= # Auth0 Client ID
AUTH0_CLIENT_SECRET= # Auth0 Client Secret
AUTH0_ISSUER= # Auth0 Issuer
NEXTAUTH_SECRET= # Use [openssl rand -hex 32] to generate a 32 bytes value

NEXTAUTH_URL= # NextAuth URL e.g "http://localhost:3000"
ADMIN_EMAILS= # Admin Emails e.g "fredrik@appkom.no"
